
.list {
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.offset-container {
    display: flex;
    align-items: center;
    gap: 1em;
    margin: 1em;

    a {
        cursor: pointer;
    }
}

.offset-date {
    font-size: 1.5em;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

.table {
    margin: 1em;

    th, td {
        text-align: center;
        padding: 0.5em;
    }

    button {
        font-size: 1em;
        background-color: transparent;
        color: #d68840;
        text-decoration: underline;
        cursor: pointer;
    }
}

.to-home {
    position: absolute;
    bottom: 1vw;
    right: 1vw;
    width: 6vh;
    height: 6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6793ed;
    border-radius: 50%;
}